
<style>
    .card-title {
        margin: 0
    }
</style>

<!--Hero-->
<!--Jumbotron-->
<div id="hero" class="col-md-8 container">
<div class="jumbotron">
    <img id="hero-logo" class="img-fluid" src="img/camtradr_logo_name.png"/>
    <h1 class="h1-responsive text-center">Say Hello to easier.</h1>
    <hr class="my-2">
    <p class="lead text-center">The no nonsense way to buy and sell camera stuff.</p>

</div>
</div>
<!--/.Jumbotron-->
<!-- /Hero -->

<!--Categories-->


<div style="margin-top: 1em" class="category-cards col-md-8 card-group">
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/cameraIcon.png" alt="Card image cap">
            <a href="/cat/camera">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Photo Cameras</h4>
                <p class="card-text"><small class="text-muted">{{numCameras}} cameras</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/videoIcon.png" alt="Card image cap">
            <a href="/cat/video">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Video Cameras</h4>
                <p class="card-text"><small class="text-muted">{{numVideos}} video cameras</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/lensIcon.png" alt="Card image cap">
            <a href="/cat/lenses">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Lenses</h4>
                <p class="card-text"><small class="text-muted">{{numLenses}} lenses</small></p>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 1em" class="category-cards col-md-8 card-group">
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/drone.png" alt="Card image cap">
            <a href="/cat/drones">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Drones</h4>
                <p class="card-text"><small class="text-muted">{{numDrones}} drones</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/phoneaccessories.png" alt="Card image cap">
            <a href="/cat/phone">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Phone Accessories</h4>
                <p class="card-text"><small class="text-muted">{{numPhones}} phone accessories</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/accessories.png" alt="Card image cap">
            <a href="/cat/acc">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Camera Accessories</h4>
                <p class="card-text"><small class="text-muted">{{numAccs}} camera accessories</small></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="view overlay hm-white-slight">
            <img class="img-fluid" src="img/lighting.png" alt="Card image cap">
            <a href="/cat/lighting">
            <div class="mask waves-effect waves-light"></div>
            </a>
            <div class="card-block">
                <h4 class="card-title">Lighting</h4>
                <p class="card-text"><small class="text-muted">{{numLightings}} lighting accessories</small></p>
            </div>
        </div>
    </div>
</div>

<!--/Categories-->